gym==0.10.5
tensorflow
tensorboardX
numpy
scipy
matplotlib
keras
zmq
jsonpickle
torch
torchvision
texttable
jsonpickle
h5py
pyglet
pygraphviz
pymdptoolbox
joblib
pathos
seaborn
networkx
more_itertools
pydot
python-constraint
cython
